In [1]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_begin_temp = dt.date(2016, 6, 1)
june_end_temp = dt.date(2016, 6, 1) + dt.timedelta(days=29)

In [5]:
#  3. Convert the June temperatures to a list.
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date <= june_end_temp, Measurement.date >= june_begin_temp).all()

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(results, columns=["date", "temperature"])

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

       temperature
count   194.000000
mean     75.175258
std       3.421996
min      64.000000
25%      73.000000
50%      75.500000
75%      78.000000
max      81.000000

## D2: Determine the Summary Statistics for December

In [ ]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [ ]:
# 7. Convert the December temperatures to a list.

In [ ]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [ ]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.